/* ==UserStyle==
@name           YT Player Classicifier
@namespace      https://github.com/YukisCoffee
@version        1.1.0
@description    Return the old scales of the YouTube player.
@author         Taniko Yamamoto <kirasicecreamm@gmail.com>
@author         Aubrey Pankow <aubyomori@gmail.com>
@preprocessor   less
@var            checkbox smallerLike2019 "Use pre-2020 scaling (even smaller)"         0
@var            select   menuType        "Menu type"                                   ["2015", "2019", "Current"]
@var            checkbox noMenuIcons     "Disable menu icons"                          0
@var            checkbox noHeatmap       "Disable 'Most replayed' graph"               0
@var            checkbox oldEmbedHead    "Disable profile picture on embed"            0
@var            checkbox oldStoryboard   "Old storyboard when scrubbing through video" 0
@var            checkbox chromeOnHover   "Only show player UI on hover"                0
@var            checkbox lighterGradient "Less intense gradient"                       0
==/UserStyle== */

@-moz-document domain("www.youtube.com") {
    // Define common player scale definitions depending on user
    // scale preference.
    .player-scale() when (@smallerLike2019 = 0)
    {
        @chrome-bottom-scale: 40px;
        @chrome-button-width: 40px;
        @chrome-progress-bar-position: 39px;
        @chrome-text-line-height: 39px;
    }
    .player-scale() when (@smallerLike2019 = 1)
    {
        @chrome-bottom-scale: 36px;
        @chrome-button-width: 36px;
        @chrome-progress-bar-position: 35px;
        @chrome-text-line-height: 35px;
    }
    
    // Apply styles across the entire ytp namespace
    // (Also apply over the ytp-embed class in order to
    // not affect users using that)
    .ytp-, .ytp-embed .ytp-
    {
        &chrome-bottom
        {
            .player-scale();
            height: @chrome-bottom-scale;
        }
        
        &progress-bar-container
        {
            .player-scale();
            bottom: @chrome-progress-bar-position;
        }
        
        &chrome-controls
        {
            .player-scale();
            height: @chrome-bottom-scale;
            line-height: @chrome-bottom-scale;
            
            & .ytp-button, & .ytp-replay-button
            {
                width: @chrome-button-width;
                padding: 0;
                
                // Width override affects chapter menus, so
                // undo these changes manually
                &.ytp-chapter-title
                {
                    width: 100%;
                }
                
                // Also apply these overrides to specially
                // padded buttons
                &.ytp-mute-button,
                &.ytp-next-button,
                &.ytp-miniplayer-button,
                &.ytp-remote-button
                {
                    padding: 0;
                }
                
                // Correct the pressed state after to not be
                // positioned incorrectly
                &[aria-pressed="true"]::after
                {
                    // Larger player scale definitions:
                    &
                    {
                        height: 2px;
                        border-radius: 2px;
                        left: 10px;
                        width: 20px;
                        bottom: 8px;
                    }
                    
                    // 2019 player scale definitions
                    & when (@smallerLike2019 = 1)
                    {
                        width: 18px;
                        left: 9px;
                        bottom: 6px;
                        height: 2px;
                        border-radius: 2px;
                    }
                }
            }
            
            // Play button should have its own overrides
            // as it is slightly wider than the rest of the
            // control buttons.
            & .ytp-play-button
            {
                width: 46px;
            }
        }
        
        // Rescale line heights of the player text displays
        &time-display, &chapter-container
        {
            .player-scale();
            line-height: @chrome-text-line-height;
        }
        
        &player-content
        {
            bottom: 53px;
            
            &:not(.ytp-upnext):not(.html5-endscreen)
            {
                top: 60px;
            }
        }
        
        // 2019 player scale had a smaller gradient as well.
        // Therefore, shrink its size when using the setting.
        &gradient-bottom when (@smallerLike2019 = 1)
        {
            height: 49px;
            padding-top: 49px;
        }
        
        &settings-menu when (@smallerLike2019 = 0)
        {
            bottom: 53px;
        }
        
        // Settings menu should be positioned a little lower for the
        // 2019 player scale.
        &settings-menu when (@smallerLike2019 = 1)
        {
            bottom: 49px;
            right: 12px;
        }
        
        // Tooltips for 2019 player scale
        // Lil hacky, but there's only one way to reposition
        // them since they are positioned in JS
        &tooltip.ytp-bottom when (@smallerLike2019 = 1)
        {
            margin-top: 12px;
        }
        
        // Comfy feeling autoplay toggle in 2019 player scale
        // An equally hacky mess but idc it works for now!
        &autonav-toggle-button when (@smallerLike2019 = 1)
        {
            transform: scale(0.9251237);
            top: 11px;
        }
        
        // Misc styles
        &skip-intro-button
        {
            bottom: 50px;
            height: 40px;
        }
        
        &webgl-spherical-control
        {
            top: 60px;
        }
        
        &title-text
        {
            padding-top: 21px;
        }
    }
    
    // Correct caption scalings
    .caption-window.ytp-caption-window-bottom
    {
        &.ytp-caption-window-bottom
        {
            & when (@smallerLike2019 = 0)
            {
                margin-bottom: 53px;
            }

            & when (@smallerLike2019 = 1)
            {
                margin-bottom: 49px;
            }
        }
        
        & svg, & .ytp-icon
        {
            width: 40px;
            height: 40px;
        }
    }
    
    // 2019 menu scale definitions
    :root when (@menuType = 2019)
    {
        .ytp-
        {
            &settings-menu
            {
                right: 12px;
                bottom: 49px;
            }
            
            &popup
            {
                border-radius: 2px;
            }
            
            &panel-menu
            {
                padding: 6px 0;
                width: 100%;
            }
            
            &panel-header
            {
                padding: 6px 0;
                height: 33px;
                font-size: 109%;
            }
            
            &menuitem
            {
                height: 33px;
                
                &-label
                {
                    font-size: 118%;
                    font-weight: 500;
                    
                    &, .ytp-menuitem-content
                    {
                        padding: 0 15px;
                    }
                }
            }
            
            &panel-header
            {
                height: 33px;
            }
            
            &big-mode .ytp-
            {
                &menuitem
                {
                    height: 49px;
                    &-label
                    {
                        padding: 0 22px;
                    }
                }
                
                &panel-
                {
                    &header
                    {
                        height: 49px;
                    }
                    
                    &title
                    {
                        padding: 0 15px;
                    }
                }
                
                &settings-menu
                {
                    right: 24px;
                    bottom: 70px;
                }
            }
            
            
        }
    }
    
    // Disable menu icons definitions
    :root when (@noMenuIcons = 1)
    {
        .ytp-
        {
            &menuitem-icon
            {
                display: none !important;
            }
            
            &menuitem-label when (@menuType = Current)
            {
                padding-left: 20px;
            }
            
            &big-mode .ytp-menuitem-label when (@menuType = Current)
            {
                padding-left: 22px;
            }
        }
    }

    :root when (@oldEmbedHead = 1)
    {
        .ytp-
        {
            &title-
            {
                &channel
                {
                    display: none;
                }
                
                &text
                {
                    padding-left: 4px;
                    padding-top: 12px !important;
                }
            }
            
            &watch-later-,
            &share-
            {
                &title
                {
                    display: none;
                }
                
                &button
                {
                    margin: 0;
                }
            }
            
            &big-mode .ytp-title-text
            {
                padding-left: 6px;
                padding-top: 18px !important;
            }
        }
    }
    
    :root when (@noHeatmap = 1)
    {
        .ytp-
        {
            &heat-map-container
            {
                display: none !important;
            }
            
            &tooltip
            {
                &.ytp-preview
                {
                    // hacky since the preview is positioned with js
                    margin-top: 24px;
                }
                
                &-title
                {
                    display: none !important;
                }
                
                &-text when (@oldStoryboard = 0)
                {
                    top: 33px !important;
                }
            }
            
            &big-mode .ytp-tooltip-text when (@oldStoryboard = 0)
            {
                top: 41px !important;
            }
        }
    }
    
    :root when (@oldStoryboard = 1) {
        .ytp-tooltip
        {
            &.ytp-preview:not(.ytp-text-detail)
            {
                background: #1c1c1ce6;
                margin-top: 55px;
                
                .ytp-tooltip-text 
                {
                    background: #1c1c1ce6;
                    top: 0;
                }
            }
            
            &-title
            {
                display: none !important;
            }
        }
    }
    
    :root when (@chromeOnHover = 1)
    {
        .html5-video-player:not(:hover) .ytp-
        {
            &chrome-
            {
                &bottom,
                &top
                {
                    opacity: 0;
                }
            }
            
            &gradient-
            {
                &bottom,
                &top
                {
                    opacity: 0;
                }
            }
        }
    }
    
    :root when (@lighterGradient = 1)
    {
        .ytp-
        {
            &gradient-
            {
                &bottom,
                &top
                {
                    height: 50px !important;
                    padding: 0;
                }
                
                &bottom
                {
                    background: linear-gradient(to top, #0009, #0000) !important;
                }
                
                &top
                {
                   background: linear-gradient(to bottom, #0009, #0000) !important; 
                }
            }
            
            &big-mode .ytp-gradient-
            {
                &top,
                &bottom
                {
                    height: 75px !important;
                }
            }
        }
    }
    
    :root when (@menuType = 2015)
    {
        .ytp-
        {
            &contextmenu
            {
                
                .ytp-menuitem {
                    &[aria-checked="true"] .ytp-menuitem-toggle-checkbox
                    {
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJNNi45OSw5IEwxMi42NiwzIEwxNC42Niw1LjAzIEw3LjEyLDEzLjAwIEwxLjMzLDcuNzMgTDMuMzQsNS42NCBMNi45OSw5IFoiIGZpbGw9IiNmZmYiIC8+PC9zdmc+);
                    }
                    
                    .ytp-menuitem-toggle-checkbox
                    {
                        width: 15px;
                        height: 15px;
                    }
                }
                
            }
            
            &popup
            {
                background: #1c1c1ccc;
                border-radius: 4px;
            }
            
            &panel
            {
                min-width: 0 !important;
                
                &-menu
                {
                    padding: 0;
                }
                
                &-header
                {
                    padding: 0;
                    height: 25px;
                    border-color: #444;
                }
                
                &-options
                {
                    color: #b8b8b8;
                    font-size: 11px;
                }
                
                &-footer
                {
                    padding: 7px 0;
                    color: #b8b8b8;
                    font-size: 11px;
                    font-weight: 400;
                    
                    a
                    {
                        color: #b8b8b8;
                        text-decoration: underline;
                    }
                }
                
                &-back-button-container
                {
                    display: none;
                }
                
                &-title
                {
                    height: 100%;
                    line-height: 25px;
                    font-size: 11px;
                    color: #b8b8b8;
                    font-weight: 400;
                    padding-left: 30px;
                    width: calc(100% - 30px);
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJNMjEuMzMsMjIgTDE1LjMzLDE2IEwyMS4zMywxMCBMMTkuMzMsOCBMMTEuMjksMTYgTDE5LjMzLDI0IEwyMS4zMywyMiBaIiBmaWxsPSIjNjY2IiAvPjwvc3ZnPg==);
                    background-position: left 8px center;
                    background-size: 14px 14px;
                    background-repeat: no-repeat;
                }
            }
            
            &settings-menu .ytp-
            {
                &menuitem
                {
                    &-toggle-checkbox
                    {
                        width: 40px;
                        height: 15px;
                        overflow: hidden;
                        transition: all .2s cubic-bezier(.4, 0, 1, 1);
                        
                        &::before
                        {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: translateX(-22px);
                            width: 15px;
                            height: 15px;
                            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJNNi45OSw5IEwxMi42NiwzIEwxNC42Niw1LjAzIEw3LjEyLDEzLjAwIEwxLjMzLDcuNzMgTDMuMzQsNS42NCBMNi45OSw5IFoiIGZpbGw9IiNmZmYiIC8+PC9zdmc+);
                            background-repeat: no-repeat;
                            background-size: 15px 15px;
                            background-position: center;
                            transition: all .2s cubic-bezier(.4, 0, 1, 1);
                        }
                        
                        &::after
                        {
                            width: 13px;
                            height: 13px;
                            box-shadow: none;
                            left: 0;
                            top: 0;
                            margin-top: 0;
                            background: #fff;
                            transition: all .2s cubic-bezier(.4, 0, 1, 1);
                        }
                    }
                    
                    &[aria-checked="true"] .ytp-menuitem-toggle-checkbox
                    {   
                        &::before
                        {
                            transform: translateX(6px);
                        }
                        
                        &::after
                        {
                            transform: translateX(25px);
                        }
                        
                        background: #f12b24;
                    }
                }

            }
            
            &menu-label-secondary
            {
                font-size: 100%;
                color: #b8b8b8;
            }
            
            &menuitem
            {
                height: 27px;
                line-height: 1.1;
                color: #bbb;
                font-weight: 400;
                
                &:hover
                {
                    background: #1c1c1c;
                }
                
                & path:not([fill="none"])
                {
                    fill: #bbb;
                }
                
                &-icon
                {
                    svg
                    {
                        width: 20px;
                        height: 20px;
                    }
                    
                    width: 20px;
                    padding: 0 5px;
                }
                
                &-label
                {
                    text-shadow: 0 0 2px #00000080;
                    font-size: 11px;
                    font-weight: 400;
                    padding-right: 0;
                    
                    & when (@noMenuIcons = 1)
                    {
                        padding-left: 10px;  
                    }
                }
                
                &[role="menuitemradio"]
                {
                    .ytp-menuitem-label
                    {
                        padding-left: 30px;
                        padding-right: 0;
                    }
                    
                    &[aria-checked="true"] .ytp-menuitem-label
                    {
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI%2BPHBhdGggZD0iTTYuOTk4NjY2NjcsOSBMMTIuNjY1MzMzMywzIEwxNC42NjY2NjY3LDUuMDM3MzMzMzMgTDcuMTI0LDEzLjAwNiBMMS4zMzMzMzMzMyw3LjczNzMzMzMzIEwzLjM0MDY2NjY3LDUuNjQyIEw2Ljk5ODY2NjY3LDkgWiIgZmlsbD0iI2ZmZiI%2BPC9wYXRoPjwvc3ZnPg%3D%3D);
                        background-size: 10px 10px;
                        background-position: left 10px center;
                    }
                }
                
                &[aria-haspopup="true"] .ytp-menuitem-content
                {
                    padding-right: 25px;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJNMTYuOTgsMTYgTDEwLjk4LDEwIEwxMi45OCw4IEwyMS4wMSwxNiBMMTIuOTgsMjQgTDEwLjk4LDIyIEwxNi45OCwxNiBaIiBmaWxsPSIjNjY2IiAvPjwvc3ZnPg==);
                    background-size: 14px 14px;
                    background-position: right 5px center;
                }
                
                &-content
                {
                    padding: 0 10px;
                    padding-left: 0;
                    max-width: 150px;
                    font-size: 11px;
                    color: #fff;
                }
                
                &:not(:last-child)
                {
                    .ytp-menuitem-
                    {
                        &icon,
                        &label,
                        &content
                        {
                            border-bottom: 1px solid #444;
                        }
                    }
                }
            }
            
            &big-mode .ytp-menuitem-toggle-checkbox
            {
                width: 60px;
                height: 23px;
            }
            
            &big-mode .ytp-
            {   
                &panel-
                {
                    &header
                    {
                        height: 38px;
                    }
                    
                    &title,
                    {
                        font-size: 17px;
                        line-height: 38px;
                        padding-left: 45px;
                        background-position: 12px center;
                        background-size: 21px 21px;
                    }
                    
                    &options,
                    &footer
                    {
                        font-size: 17px;
                    }
                    
                    &footer
                    {
                        padding: 11px 0;
                    }
                }
                
                &menuitem
                {
                    height: 40px;
                    
                    &-label,
                    &-content,
                    {
                        font-size: 17px;
                    }
                    
                    &-label
                    {
                        padding-left: 15px;
                    }
                    
                    &[aria-haspopup="true"] .ytp-menuitem-content
                    {
                        padding-right: 38px;
                        background-size: 21px 21px;
                        background-position: right 8px center;
                    }
                    
                    &-toggle-checkbox
                    {
                        &::before
                        {
                            width: 23px;
                            height: 23px;
                            transform: translateX(-34px);
                            background-size: 23px 23px;
                        }
                        
                        &::after
                        {
                            width: 23px;
                            height: 23px;
                        }
                    }
                    
                    &[aria-checked="true"] .ytp-menuitem-toggle-checkbox
                    {
                        &::before
                        {
                            transform: translateX(11px);
                        }
                        
                        &::after
                        {
                            transform: translateX(37px);
                        }
                    }
                    
                    &[role="menuitemradio"]
                    {
                        .ytp-menuitem-label
                        {
                            padding-left: 45px;
                        }
                        
                        &[aria-checked="true"] .ytp-menuitem-label
                        {
                            background-size: 15px 15px;
                            background-position: left 15px center;
                        }
                    }
                }
            }
        }
    }
}